.post-container {
  display: flex;
  flex-direction: column;
}

.username-img {
  height: 50px;
  width: 50px;
}

.image-post {
  height: 100%;
  margin: auto;
  width: 300px;
}

.comment {
  display: flex;
  flex-direction: column;
}
